h1, h2, h3, h4 {
    font-family: "adelle";
    font-weight: 100;
}

h1 {
    font-size: 26pt;
    font-weight: 200;
    margin: 0.3em 0 0.5em;
}

h2 {
    font-size: 20pt;
    font-weight: 200;
    margin: 0.4em 0 0.2em;
}

h3{
    font-size: 16pt;
    font-weight: 400;
    margin: 0.3em 0;
}

small {
    font-size: smaller;
}

* {
   -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

ul, ol, p, div, span, section, article {
    font-family: "aktiv-grotesk-std";
}

* {
    box-sizing: border-box;
}