@import "compass/reset";
@import "compass/typography";
@import "compass/css3";
@import "type";
@import "grid";

$default-border-radius: 3px;
$default-transition-duration: 100ms;

$cta-color: #47b547;

@mixin a($link-color){
    color: $link-color;
    text-decoration: none;
    @include transition;
    border-bottom: 1px solid lighten($link-color, 40%);
     &:hover{
         border-bottom-color: $link-color;
     }
}

body{
    min-width: 320px;
}

a {
    @include a(#2c62f4);

}

p {
    line-height: 1.2em;
}

ul{
    margin: 0.25em;
    line-height: 1.2em;
    padding-left: 20px;
    list-style: disc;
    li {
        margin-bottom: 0.5em;
    }
}
section {
    padding: 20px;
}

#intro {
    min-height: 87vmin;
    padding: 0;

    @include display-flex;
    @include flex-flow(row wrap);

    header{
        @include flex(0 100%);
        @include display-flex;
        @include flex-flow(row);
        @include align-items(flex-end);
        padding-left: 20px;
    }

    article{
        @include flex(1 1 50%);
        padding: 20px;

        p {
            margin: 1em 0;
        }
    }

    aside{
        @include flex(1 1 200px);
        background-image: url(asset_path('mentoring/portrait.jpg'));
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
    }

    .email-cta{

        display: inline-block;
        @include border-radius();
        @include transition();
        text-decoration: none;
        color: white;
        background: $cta-color;
        padding: 10px 40px;
        margin: 10px;
                    margin-left: 0px;

        font-size: 16pt;
        border-bottom: darken($cta-color, 9%) 3px solid;

        &:hover {
            background: lighten($cta-color, 5%);
        }
    }
     @media screen and (min-width: 500px) and (max-width: 700px){
         margin-top: 20px;
         article {
             p{
                 margin: 0.5em 0;
             }
         }
        .email-cta{
            font-size: 14pt;
            padding: 7px 21px;
            margin: 7px;
            margin-left: 0px;

        }
         aside{
             @include flex(1 1 120px);
         }
     }
    @media screen and (max-width: 500px){
        margin-top: 20px;
        header h2{
            padding-right: 10px;
            font-size: 17pt;
            font-weight: 400;
        }
        .email-cta{
            font-size: 12pt;
            padding: 5px 20px;
            margin: 5px;
            margin-left: 0px;
        }
        header{
            padding: 0 10px;
        }
        article{
            padding: 0 10px;
            @include flex(0 100%);
        }
        aside {
            @include flex(0 100%);
            height: 200px;
        }
    }
}

#mentoring {
    padding-bottom: 100px;
    background: #105583;
    color: white;

    h3{
        margin-top: 0.6em;
    }

    p {
        font-weight: 400;
        margin: 1em 0;
    }

    a {
        font-weight: bold;
        @include a(white);
    }

    .microsoft {
        height: 50px;
        width: 234px;
    }
    .ancestry {
        width: 234px;
        height: 35px;
    }
}

#email-starter{
    color: white;
    padding-bottom: 100px;
    background: #499349;
    a{
        font-weight: bold;
        @include a(white);
    }
}
