---
layout: default
title: About Me
header: true
group: navigation
permalink: /profile/
---
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<div class="post-header">
    <h1>About Me</h1>
</div>
<div class="post-content" id="page-about-me">
    <div id="professional">
        <h2>@natemcmaster</h2>
        <p>Feel free to reach out and connect with me on social media</p>
        {% if site.linkedin_username %}
        <p> The best way to reach me is through
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                <span class="icon-linkedin"></span>
                LinkedIn
            </a>.
            <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="VERTICAL" data-vanity="natemcmaster" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/natemcmaster?trk=profile-badge">Nate McMaster</a></div>
        </p>
        {% endif %}
        <p>But you can also try finding me on these platforms:</p>
        {% if site.github_username %}
        <p>
            <a href="https://github.com/{{ site.github_username }}">
                <span class="icon-github"></span>
                GitHub
            </a>
        </p>
        {% endif %}
            {% if site.twitter_username %}
        <p>
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="icon-twitter"></span>
                Twitter
            </a>
        </p>
        {% endif %}

    </div>
</div>
