---
layout: default
title: "That Blog Thing :: Nate McMaster's Blog"
---
<div class="home">
    {% assign fp = site.posts.first %}
    <div class="jumbotron">
        <h1>
            {{fp.title}}
        </h1>
    </div>
    <div class="row">
        {% for post in site.posts offset:1 limit: 3 %}
        <div class="col-sm-4">
              {{post.title}}
        </div>
        {% endfor %}
    </div>
        {% for post in site.posts offset:4 limit: 5 %}
        <div class="media">
            {% if post.thumbnail %} <a class="pull-left" href="{{post.url}}"><img class="media-object post-thumb" src="{{ post.thumbnail }}" alt="Thumbnail"></a> {% endif %}
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{post.url}}">{{post.title}}</a>
                </h4>{{post.content | strip_html | truncatewords:40 }}
            </div>
        </div>
        {% endfor %}
        <a href="{{ site.url }}/archive.html"> See all posts </a>
</div>