@import "variables";

.btn {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid darken(white, 10%);
  font-size: 14px;
  color: lighten(black, 10%);

  &:visited, &:active {
    color: lighten(black, 5%);
  }

  text-decoration: none;

  &:hover {
    background: darken(white, 10%);
    text-decoration: none;
  }
}

.btn-primary {
  background: $color-header-bg;
  border: none;
  color: white;

  &:visited, &:active, &:hover {
    color: darken(white, 5%);
  }

  &:hover {
    background: lighten($color-header-bg, 10%);
  }
}
