@import "variables";
@import "mixins";

$headerColor: rgb(40, 40, 40);
$postContentColor: rgb(56, 56, 56);

.post-header {
  margin: 10px 0 10px;
  border-bottom: 1px solid darken(white, 5%);
  color: $headerColor;

  h1 {
    font-size: 42px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 0.25em;
    margin-left: -2px;
  }

  h2 {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 0.25em;
  }

  div.meta {
    margin-top: 0.5em;
    font-size: 15px;
    color: rgb(88, 88, 88);
  }

  ul.tags {
    list-style: none;
    margin: 0.5em 0;

    > li {
      display: inline-block;
      font-weight: bold;
      border: 1px solid darken($primary, 20%);
      color: $primary;
      opacity: 0.8;
      padding: 0.1em 0.7em;
      font-size: 70%;
      margin: 0.05em;
      border-radius: 3px;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.post-content {
  @include serifFont;
  color: $postContentColor;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: normal;
    margin: 1em 0 0.5em;

    $size: 32px;

    font-size: $size;

    @include header-link($size, $bottom: 5px);
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 16px;
  }

  blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 16px;
    color: lighten(black, 40%);
    font-style: italic;
    margin: 30px 0;
  }

  ul, ol {
    padding-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  p {
    + p {
      margin-top: 1em;
    }

    > img {
      max-width: 100%;
    }
  }
}

.postimage {
  text-align: center;

  img {
    max-height: 300px;
    max-width: 100%;

    @media screen and (max-width: 400px) {
      max-height: 150px;
    }
  }

  &.small img {
    max-height: 100px;
  }
}

.comments {
  border-top: 1px solid darken(white, 30%);
  padding-top: 20px;
  margin-top: 20px;
}
