---
layout: default
---
<header class="post-header">
  <p class="meta">Blog Post: {{ page.date | date: "%B %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  <h1>{{ page.title }}</h1>
  {% if page.subtitle %}
    <h2>{{ page.subtitle }}</h2>
  {% endif %}
</header>

<article class="post-content">
  {% if page.hero %}
    <p class="postimage hero {{page.hero.classes}}">
      {%if page.hero.link_asset_path %}
        <a href="{{ page.hero.link_asset_path | asset_path }}">
        {% endif %}
      {% if page.hero.asset_path %}
      <img src="{{page.hero.asset_path | asset_path }}" alt="{{page.hero.description}}"/>
      {% else %}
      <img src="{{page.hero.url}}" alt="{{page.hero.description}}"/>
      {% endif %}
      {%if page.hero.link_asset_path %}
        </a>
      {% endif %}
    </p>
  {% endif %}
{{ content }}
</article>
<div class="comments">
{% include disqus.html %}
</div>
