@mixin graph {
  background: white;

  svg {
    height: 100%;
    width: 100%;
    display: inline-block;

    .link {
      stroke: darken(white, 15%);
      stroke-width: 1.5px;

      @include transition(all 500ms ease);
    }

    %node {
      cursor: pointer;
      stroke: lighten(black, 35%);
      stroke-width: 1.5px;

      @include transition(all 500ms ease);
    }

    %node-label {
      cursor: pointer;

      @include transition(all 500ms ease);
    }

    .level-0 {
      .node {
        fill: lighten($highlight, 20%);

        @extend %node;
      }

      .node-label {
        font-size: 10pt;

        @extend %node-label;
      }
    }

    .level-1 {
      .node {
        fill: lighten(invert($primary), 25%);

        @extend %node;
      }

      .node-label {
        font-size: 8pt;

        @extend %node-label;
      }
    }

    .level-2 {
      .node {
        fill: lighten(invert($primary), 35%);

        @extend %node;
      }

      .node-label {
        font-size: 6pt;

        @extend %node-label;
      }
    }
  }
}
