/* line 5, ../../../../.rvm/gems/ruby-2.1.2@iam/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2@iam/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2@iam/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2@iam/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2@iam/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2@iam/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2@iam/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2@iam/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2@iam/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_type.scss */
h1, h2, h3, h4 {
  font-family: "adelle";
  font-weight: 100;
}

/* line 6, ../sass/_type.scss */
h1 {
  font-size: 26pt;
  font-weight: 200;
  margin: 0.3em 0 0.5em;
}

/* line 12, ../sass/_type.scss */
h2 {
  font-size: 20pt;
  font-weight: 200;
  margin: 0.4em 0 0.2em;
}

/* line 18, ../sass/_type.scss */
h3 {
  font-size: 16pt;
  font-weight: 400;
  margin: 0.3em 0;
}

/* line 24, ../sass/_type.scss */
small {
  font-size: smaller;
}

/* line 28, ../sass/_type.scss */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 33, ../sass/_type.scss */
ul, ol, p, div, span, section, article {
  font-family: "aktiv-grotesk-std";
}

/* line 37, ../sass/_type.scss */
* {
  box-sizing: border-box;
}

/* line 22, ../sass/main.scss */
body {
  min-width: 320px;
}

/* line 26, ../sass/main.scss */
a {
  color: #2c62f4;
  text-decoration: none;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  border-bottom: 1px solid #eef2fe;
}
/* line 17, ../sass/main.scss */
a:hover {
  border-bottom-color: #2c62f4;
}

/* line 31, ../sass/main.scss */
p {
  line-height: 1.2em;
}

/* line 35, ../sass/main.scss */
ul {
  margin: 0.25em;
  line-height: 1.2em;
  padding-left: 20px;
  list-style: disc;
}
/* line 40, ../sass/main.scss */
ul li {
  margin-bottom: 0.5em;
}

/* line 44, ../sass/main.scss */
section {
  padding: 20px;
}

/* line 48, ../sass/main.scss */
#intro {
  min-height: 87vmin;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
/* line 65, ../sass/main.scss */
#intro header {
  -webkit-flex: 0 100%;
  flex: 0 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding-left: 20px;
}
/* line 73, ../sass/main.scss */
#intro article {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  padding: 20px;
}
/* line 77, ../sass/main.scss */
#intro article p {
  margin: 1em 0;
}
/* line 82, ../sass/main.scss */
#intro aside {
  -webkit-flex: 1 1 200px;
  flex: 1 1 200px;
  background-image: url("../images/portrait.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
/* line 90, ../sass/main.scss */
#intro .email-cta {
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  text-decoration: none;
  color: white;
  background: #47b547;
  padding: 10px 40px;
  margin: 10px;
  margin-left: 0px;
  font-size: 16pt;
  border-bottom: #3a943a 3px solid;
}
/* line 105, ../sass/main.scss */
#intro .email-cta:hover {
  background: #58bd58;
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  /* line 111, ../sass/main.scss */
  #intro article p {
    margin: 0.5em 0;
  }
  /* line 115, ../sass/main.scss */
  #intro .email-cta {
    font-size: 14pt;
    padding: 7px 21px;
    margin: 7px;
    margin-left: 0px;
  }
  /* line 122, ../sass/main.scss */
  #intro aside {
    -webkit-flex: 1 1 120px;
    flex: 1 1 120px;
  }
}
@media screen and (max-width: 500px) {
  /* line 48, ../sass/main.scss */
  #intro {
    margin-top: 20px;
  }
  /* line 128, ../sass/main.scss */
  #intro header h2 {
    padding-right: 10px;
    font-size: 17pt;
    font-weight: 400;
  }
  /* line 133, ../sass/main.scss */
  #intro .email-cta {
    font-size: 12pt;
    padding: 5px 20px;
    margin: 5px;
    margin-left: 0px;
  }
  /* line 139, ../sass/main.scss */
  #intro header {
    padding: 0 10px;
  }
  /* line 142, ../sass/main.scss */
  #intro article {
    padding: 0 10px;
    -webkit-flex: 0 100%;
    flex: 0 100%;
  }
  /* line 146, ../sass/main.scss */
  #intro aside {
    -webkit-flex: 0 100%;
    flex: 0 100%;
    height: 200px;
  }
}

/* line 153, ../sass/main.scss */
#mentoring {
  padding-bottom: 100px;
  background: #105583;
  color: white;
}
/* line 158, ../sass/main.scss */
#mentoring h3 {
  margin-top: 0.6em;
}
/* line 162, ../sass/main.scss */
#mentoring p {
  font-weight: 400;
  margin: 1em 0;
}
/* line 167, ../sass/main.scss */
#mentoring a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  border-bottom: 1px solid white;
}
/* line 17, ../sass/main.scss */
#mentoring a:hover {
  border-bottom-color: white;
}
/* line 172, ../sass/main.scss */
#mentoring .microsoft {
  height: 50px;
  width: 234px;
}
/* line 176, ../sass/main.scss */
#mentoring .ancestry {
  width: 234px;
  height: 35px;
}

/* line 182, ../sass/main.scss */
#email-starter {
  color: white;
  padding-bottom: 100px;
  background: #499349;
}
/* line 186, ../sass/main.scss */
#email-starter a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  border-bottom: 1px solid white;
}
/* line 17, ../sass/main.scss */
#email-starter a:hover {
  border-bottom-color: white;
}
