<div class="home">

  <ul class="posts">
    
    <li class="first-post">
      <span class="post-date">Jun 2, 2014</span>
      <a class="post-link" href="/2014/06/02/history-explorer/">
        <h1>Graphs, Trees, and Leonardo da Vinci</h1>
      </a>
      
      <h2>Creating an interactive website for a history class</h2>
      
        
      <div class="postimage hero " style="background-image: url(https://farm3.staticflickr.com/2933/14333073622_bb383f1236_b.jpg)"></div>
      
      <div>
        
        <p><a href="http://www.natemcmaster.com/historyexplorer/">History Explorer</a> allows users to explore the relationship between historical people, places, and ideas. The content itself is almost completely verbatim Wikipedia. The more important part is the graphical presentation. </p>


      
      </div>
      <p>
        <a  href="/2014/06/02/history-explorer/">Read full post...</a>
      </p>
    </li>
    
    <li>
      <span class="post-date">Dec 10, 2013</span>
      <a class="post-link" href="/2013/12/dont-be-pirate.html">Don't Be A Pirate</a>
      <p>
        <p>The wild frontier of the Internet allows new forms of piracy. Hacking, pornography, <a href="http://en.wikipedia.org/wiki/Silk_Road_(marketplace)">black markets</a>, and digital theft abound,...
      
    </p>
    </li>
    
    <li>
      <span class="post-date">Dec 3, 2013</span>
      <a class="post-link" href="/2013/12/computer-addiction-and-programmers.html">Computer Addiction and Programmers</a>
      <p>
        <p>The most dangerous part of computer addiction for a programmer is it creates an outstanding employee or brings fame to...
      
    </p>
    </li>
    
    <li>
      <span class="post-date">Nov 21, 2013</span>
      <a class="post-link" href="/2013/11/chicken-little.html">A Rebuttal For Mark Bauerline</a>
      <p>
        <p>I have never read a book more infuriating than <em><a href="http://www.amazon.com/The-Dumbest-Generation-Stupefies-Jeopardizes/dp/1585427128">The Dumbest Generation</a></em>. Its author, Mark Bauerline, predicts a grim...
      
    </p>
    </li>
    
    <li>
      <span class="post-date">Nov 19, 2013</span>
      <a class="post-link" href="/2013/11/an-engineer-ette.html">An Engineer-ette</a>
      <p>
        <p><a href="http://www.cirtl.net/node/5424">Many women feel unwelcomed in computer science</a>. It’s a shame they feel so because computer software companies need more...
      
    </p>
    </li>
    
  </ul>
  <div>
    <a href="/archive">See all posts...</a>
  </div>

  <p class="rss-subscribe">
    Subscribe
    <a href="/feed.xml">via RSS</a>
  </p>

</div>