<div class="home">

  <h1>Posts</h1>

  <ul class="posts">
    
      <li>
        <span class="post-date">Dec 10, 2013</span>
        <a class="post-link" href="/2013/12/dont-be-pirate.html">Don't Be A Pirate</a>
      </li>
    
      <li>
        <span class="post-date">Dec 3, 2013</span>
        <a class="post-link" href="/2013/12/computer-addiction-and-programmers.html">Computer Addiction and Programmers</a>
      </li>
    
      <li>
        <span class="post-date">Nov 21, 2013</span>
        <a class="post-link" href="/2013/11/chicken-little.html">A Rebuttal For Mark Bauerline</a>
      </li>
    
      <li>
        <span class="post-date">Nov 19, 2013</span>
        <a class="post-link" href="/2013/11/an-engineer-ette.html">An Engineer-ette</a>
      </li>
    
      <li>
        <span class="post-date">Nov 12, 2013</span>
        <a class="post-link" href="/2013/11/a-lunch-break-soccer-game.html">A Lunch-break Soccer Game</a>
      </li>
    
  </ul>
  <p><a href="/archive">See all posts...</a></p>

  <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>

</div>
