<div class="home">

  <ul class="posts">
    
    <li class="first-post">
      <span class="post-date">Jul 19, 2014</span>
      <a class="post-link" href="/2014/07/19/writing-an-ef7-provider/">
        <h1>Writing an EF7 Provider</h1>
      </a>
      
        
      <div class="postimage hero " style="background-image: url(https://farm6.staticflickr.com/5592/14778307563_fbdc53cfed_b.jpg)"></div>
      
      <div>
        
        <p>I spent my summer internship at Microsoft to building a piece of software that allows Entity Framework 7 to connect with Azure Table Storage accounts. 
In the process of creating this, I attempted to document the interface between the provider and the core APIs of EF. This post includes technical details that should enable third-parties to create their own provider for Entity Framework.</p>


      
      </div>
      <p class="read-full">
        <a  href="/2014/07/19/writing-an-ef7-provider/">Read full post...</a>
      </p>
    </li>
    
    <li>
      <span class="post-date">Jun 2, 2014</span>
      <a class="post-link" href="/2014/06/02/history-explorer/">Graphs, Trees, and Leonardo da Vinci</a>
      <p>
        Creating an interactive website for a history class
      
    </p>
    </li>
    
    <li>
      <span class="post-date">Dec 10, 2013</span>
      <a class="post-link" href="/2013/12/dont-be-pirate.html">Don't Be A Pirate</a>
      <p>
        <p>The wild frontier of the Internet allows new forms of piracy. Hacking, pornography, <a href="http://en.wikipedia.org/wiki/Silk_Road_(marketplace)">black markets</a>, and digital theft abound,...
      
    </p>
    </li>
    
    <li>
      <span class="post-date">Nov 21, 2013</span>
      <a class="post-link" href="/2013/11/chicken-little.html">A Rebuttal For Mark Bauerline</a>
      <p>
        <p>I have never read a book more infuriating than <em><a href="http://www.amazon.com/The-Dumbest-Generation-Stupefies-Jeopardizes/dp/1585427128">The Dumbest Generation</a></em>. Its author, Mark Bauerline, predicts a grim...
      
    </p>
    </li>
    
    <li>
      <span class="post-date">Nov 19, 2013</span>
      <a class="post-link" href="/2013/11/an-engineer-ette.html">An Engineer-ette</a>
      <p>
        <p><a href="http://www.cirtl.net/node/5424">Many women feel unwelcomed in computer science</a>. It’s a shame they feel so because computer software companies need more...
      
    </p>
    </li>
    
  </ul>
  <div>
    <a href="/archive">See all posts...</a>
  </div>

  <p class="rss-subscribe">
    Subscribe
    <a href="/feed.xml">via RSS</a>
  </p>

</div>