<html>
    <head>
        <title>
            {{page.title}}
        </title>
        <link rel="stylesheet" href="{{site.url}}/css/main.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <header class="row page-header">
              <h1>
                <a href="{{site.url}}" title="{{site.name}}"><img src="img/logo.svg" class="header-logo" alt="logo"> {{site.name}}</a>
              </h1>
            </header>
            <div>
                {{content}}
            </div>
        </div>
    </body>
</html> 