---
layout: default
---
<header class="post-header">
  <p class="meta">Blog Post: {{ page.date | date: "%B %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  <h1>{{ page.title }}</h1>
  {% if page.subtitle %}
    <h2>{{ page.subtitle }}</h2>
  {% endif %}
  {% if page.tags.size > 0 %}
    <ul class="tags">
      {% for tag in page.tags %}
        <li>
          <a href="{% link tags.html %}#{{ tag | slugify }}"><span class="icon-tags"></span> {{ tag | xml_escape }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</header>

<article class="post-content">
  {% if page.hero %}
    <p class="postimage hero {{page.hero.classes}}">
      {%if page.hero.link %}
        <a href="{{ page.hero.link | relative_url }}">
        {% endif %}
      {% if page.hero.asset_path %}
      <img src="{{page.hero.asset_path | relative_url }}" alt="{{page.hero.description}}"/>
      {% else %}
      <img src="{{page.hero.url}}" alt="{{page.hero.description}}"/>
      {% endif %}
      {%if page.hero.link %}
        </a>
      {% endif %}
    </p>
  {% endif %}
{{ content }}
</article>
<div class="comments">
{% include disqus.html %}
</div>
