---
layout: default
title: Blog
header: true
group: navigation
permalink: /blog/
---
<div class="post-header">
    <h1>Blog</h1>
</div>
<div id="page-blog">
  <div class="posts">
    {% for post in site.posts limit:10 %}
    <div class="post">
      <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <h1 class="post-title">{{ post.title }}</h1>
      </a>
      {% if post.subtitle %}
      <h2>{{ post.subtitle }}</h2>
      {% endif %}
{% if post.hero %}
      <div class="postimage hero {{post.hero.classes}}">
        <a href="{{ post.url | prepend: site.baseurl }}">
          {% if post.hero.asset_path %}
            <img src="{{post.hero.asset_path | asset_path}}" alt="{{post.hero.description}}" />
          {% else %}
            <img src="{{post.hero.url}}" alt="{{post.hero.description}}" />
          {% endif %}
        </a>
      </div>
      {% endif %}
      <div>
        {% if post.excerpt %}
  {{ post.excerpt }}
  {% else %}
  {{ post.content | truncatewords: 75 }}
  {% endif %}
      </div>
      <p class="read-full">
        <a  href="{{ post.url | prepend: site.baseurl }}">Read full post...</a>
      </p>
    </div>
    {% endfor %}
  </div>
  <div>
    <h2><a href="{{ "/blog/archive" | prepend: site.baseurl }}">See all posts...</a></h2>
  </div>

  <p class="rss-subscribe">
    Subscribe
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
  </p>
</div>
