---
layout: none
---
<!doctype html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <div class="personal-banner">
    <div class="wrap">
      <div class="focus">
      <h2>I am Nate McMaster</h2>
      <p>I create software, climb mountains, take photos, and occasionally write blog posts. </p>
      <p class="icons">
         {% if site.github_username %}
          <a href="https://www.github.com/{{ site.github_username }}" analytics-on="click" analytics-event="outbound" analytics-label="github_profile">
            <span class="icon-github"></span>
          </a>
          {% endif %}
        {% if site.twitter_username %}
          <a href="https://www.twitter.com/{{ site.twitter_username }}" analytics-on="click" analytics-event="outbound" analytics-label="twitter_profile">
            <span class="icon-twitter"></span>
          </a>
        {% endif %}
        {% if site.linkedin_username %}
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" analytics-on="click" analytics-event="outbound" analytics-label="linkedin_profile">
            <span class="icon-linkedin"></span>
          </a>
        {% endif %}
      </p>
      </div>
      <div class="aside">
        <span class="icon-natemcmaster"></span>
      </div>
  </div>
  </div>
  <div class="page-content">
    <div class="wrap">
      <ul class="posts">
        {% assign fp = site.posts.first %}
        <li class="first-post">
          <span class="post-date">{{ fp.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ fp.url | prepend: site.baseurl }}">
            <h1>{{ fp.title }}</h1>
          </a>
          {% if fp.subtitle %}
          <h2>{{ fp.subtitle }}</h2>
          {% endif %}
          {% if fp.hero %}
          <div class="postimage hero {{fp.hero.classes}}" style="background-image: url({{fp.hero.url}})"></div>
          {% endif %}
          <div>
            {% if fp.excerpt %}
            {{ fp.excerpt }}
            {% else %}
            {{ fp.content | truncatewords: 75 }}
            {% endif %}
          </div>
          <p class="read-full">
            <a  href="{{ fp.url | prepend: site.baseurl }}">Read full post...</a>
          </p>
        </li>
        {% for post in site.posts offset:1 limit:4 %}
        <li>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p>{% if post.subtitle %}
            {{ post.subtitle }}
            {% elsif post.excerpt %}
            {{ post.excerpt |truncatewords: 20 }}
            {% endif %}
          </p>
        </li>
        {% endfor %}
      </ul>
      <div>
        <a href="{{ "/archive" | prepend: site.baseurl }}">See all posts...</a>
      </div>

      <p class="rss-subscribe">
        Subscribe
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>

    </div>
  </div>

  {% include footer.html %}
  </html>
